
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
   <style>
         .title p{
              color: green;
              text-align: center;
              font-weight: bold;
              font-size: medium;
         }
    </style>
</head>

<div class="title">
    <center>
      <img  style=" width:300px;height:250px;" src="https://www.skoolbeep.com/blog/wp-content/uploads/2020/12/HOW-DO-YOU-DESIGN-A-LIBRARY-MANAGEMENT-SYSTEM-min-768x768.png">
    </center>
	<p>Library Management is a computerized system which helps
			user (librarian) to manage the library daily activity in electronic format.</p>

    
</div>

