@model WebApp.Models.Library

@{
    ViewData["Title"] = "Details";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #6c499a;
            color: #fff;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #da17e2;
            }

        .container {
            border-radius: 5px;
            background-color:#5F9EA0 ;
            padding: 13px;
            font-family: 'Pattaya', sans-serif;
            color: black;
            font-size: 20px;
        }
    </style>
</head>
<h1>Details</h1>

<div>
    <h4>Library</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total_nr_of_books)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_nr_of_books)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.borrowed_books)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.borrowed_books)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.stock_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
